@keyframes cap-anima-in {
  0%{
    top: 100%;
  }
  100%{
    top: 0%;
  }
}

@keyframes cap-anima-out {
  0%{
    top: 0%;
  }
  100%{
    top: 100%;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: rgb(226, 226, 226);
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  padding: 30px 0;
  background-color: rgb(59, 56, 56);
  text-align: center;
  border-radius: 0 0 25px 25px;
}
.header__nav {
  padding: 0 5%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding: 0;
  margin: 0;
}
.nav__list .list_item {
  list-style: none;
}

.nav__list .list_item a {
  position: relative;
}
.nav__list .list_item a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: coral;
  border-radius: 3px;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
.nav__list .list_item:hover a::before,
.nav__list .list_item:active a::before {
  width: 95%;
}
.header__nav .menu_over {
  display: none;
}
.header__menu {
  display: none;
}

.wrapper {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10%;
}
a {
    font-style: italic;
    color:rgb(209, 116, 100);
}

h1 {
    font-size: 25px;
}

section {
    border: 3px solid rgb(18, 0, 83);
    background-color: rgb(247, 249, 255);
}
section>h2 {
    display:none;
}

article {
    border-bottom: 3px solid grey;
    padding: 5px 10px;
    margin-top: -10px;
}

.about__intro {
    /* display: flex; */
    width: 100%;
    /* justify-content: space-between; */
    /* background-color: rgb(241, 234, 233); */
    padding: 0;
    margin-top: 0;
}
.intro__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.about__intro_text>h2 {
    /* margin-left: 10px; */
    font-style: italic;
}
.about__intro_photo>img {
    max-width: 250px;
    width: 100%;
    margin-right: 20px;
    border-radius: 10px 20px 40px 50px;
}

.extra {
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  max-height: 30px;
}
details[open].extra {
  max-height: 50vh;
}
.extra .extra_header {
  cursor: pointer;
  list-style: none;
  user-select: none;
  max-width: max-content;
}
.extra .extra_header::after {
  content: ' ►';
}
.video_header.extra_header::before {
  content: '◄ ';
}
details[open].extra .extra_header::after {
  content: ' ▼';
}
details[open].extra .video_header.extra_header::before {
  content: '▼ ';
}
.extra .extra_header > * {
  display: inline;
}

details[open].about__info__detail {
  margin-bottom: 20px;
  height: 50vh;
}
.video_header {
  text-align: center;
  margin: 0 auto 20px;
}
.about__info_video {
  margin: 0 20%;
  width: 60%;
  height: 100%;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0 5%;
}
.contacts__list_item {
  display: flex;
  flex: 0 1 33%;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: 5%;
}
.link_img {
  max-width: 100px;
}

.experience {
    margin-top: -20px;
}
.interval {
    width: 100px;
    vertical-align: top;
    padding-top: 20px;
}
.experience > h4 {
  margin-top: 0;
}

.edu_img {
  width: 80%;
}

ul > li {
    margin-top: 5px;
    margin-bottom: 5px;
}
li > .points {
    font-size: 5em;
    line-height: .4em;
    text-align: right;
    margin-right: 20px;
    margin-top: -25px;
    color: rgb(18, 0, 83);
}
  
.points > span {
    margin-left: -20px;
    color: lightskyblue;
    user-select: none;
}

.projects__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: inherit;
}
.projects__list_item {
  flex: 0 1 45%;
  width: 50%;
  height: 50%;
  list-style: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 20px;
}
.projects_item_fig {
  position: relative;
  margin: 0;
}
.projects_item_img {
  display: block;
  width: 100%;
  height: 100%;
}
.projects_item_cap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  text-align: center;
  font-size: 2vw;
  line-height: 2vw;
  animation: cap-anima-out 1s 1;
}

.projects__list_item:hover .projects_item_cap {
  animation: cap-anima-in 1s 1;
  animation-fill-mode: forwards;
}

.foot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(171, 238, 238);
}
.foot__half {
    height: 100%;
    margin-top: 20px;
    display: flex;
}
.foot__left {
    margin-left: 20px;
}
.foot__right {
    margin-right: 20px;
}
.foot__half>h5 {
    margin: 0;
    padding-left: 20px;
    font-size: inherit;
    font-style: italic;
}

/* .foot_figure {
    margin: 0;
    margin-right: 10%;
} */
.GHimage {
    /* margin-top: -25px;
    margin-right: 50px; */
    height: 70px;
    width: 70px;
}

.RSSimage {
  /* margin-top: -25px; */
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 900px) {
  .menu__open {
    overflow: hidden;
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: none;
    border-radius: 0;
  }
  .header__nav {
    position: absolute;
    right: -220px;
    top: 60px;
    width: 200px;
    height: 100vh;
    z-index: 2;
    transition: all 0.5s ease 0s;
    z-index: 9;
    background-color: rgb(59, 56, 56);
    padding: 0;
  }
  .header__nav .menu_over {
    display: block;
    position: fixed;
    width: calc(100vw - 200px);
    height: 100%;
    left: -100vw;
    content: "";
    top: inherit;
    background-color: orange;
    opacity: 0.5;
    transition: all 0.4s;
  }
  .header__nav_active .menu_over {
    left: 0;
  }
  .header__nav_active {
    right: 0px;
  }
  .nav__list {
    flex-direction: column;
  }
  .header .nav__list {
    margin-top: 10px;
    font-size: 20px;
    line-height: 23px;
  }
  .header__list_item {
    margin-bottom: 20px;
  }
  .header__menu {
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    cursor: pointer;
    right: 3.125%;
    top: 50%;
    transform: translate(-30%, -50%)
  }
  .header__menu span {
    position: absolute;
    background-color: orange;
    left: 0;
    top: 11.5px;
    width: 100%;
    height: 5px;
    transition: all 0.5s ease 0s;
  }
  .header__menu::before,
  .header__menu::after {
    content: '';
    background-color: orange;
    position: absolute;
    width: 100%;
    height: 5px;
    right: 0;
    transition: all 0.5s ease 0s;
  }
  .header__menu::before {
    top: 0;
  }
  .header__menu::after {
    bottom: 0;
    width: 82.5%;
  }
  .header__menu.active::before {
    transform: rotate(45deg);
    top: 12px;
  }
  .header__menu.active::after {
    transform: rotate(-45deg);
    width: 100%;
    bottom: 12px;
  }
  .header__menu.active span {
    transform: scale(0);
  }
  .main {
    padding-top: 60px;
  }
}

@media screen and (max-width: 800px) {
  details[open].about__info__detail {
    height: 30vh;
  }
  .about__info_video {
    margin: 0 10%;
    width: 80%;
    height: 100%;
  }
}
@media screen and (max-width: 550px) {
  .foot_figure {
    margin: 0;
    margin-right: 10%;
  }
}

@media screen and (max-width: 400px) {
  details[open].about__info__detail {
    height: 25vh;
  }
  .foot {
    flex-direction: column;
  }
  .foot_figure {
    margin-left: 10%;
  }
}