a {
    font-style: italic;
    color:rgb(209, 116, 100);
}
body {
    margin: 0;
    background-color: rgb(226, 226, 226);
}
.header {
    width: 100%;
    height: 100px;
    background-color: rgb(16, 227, 235);
    text-align: center;
}
.wrapper {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10%;
}

h1 {
    font-size: 25px;
    margin-left: 10px;
}

section {
    border: 3px solid rgb(18, 0, 83);
    background-color: rgb(247, 249, 255);
}
section>h2 {
    display:none;
}

article {
    border-bottom: 3px solid grey;
    padding: 5px 10px;
    margin-top: -10px;
}

.about__intro {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* background-color: rgb(241, 234, 233); */
    padding: 0;
    margin-top: 0;
}
.about__intro_text>h2 {
    margin-left: 10px;
    font-style: italic;
}
.about__intro_photo>img {
    max-width: 250px;
    width: 100%;
    margin-right: 20px;
}

/* table {
    margin-top: -20px;
}
.table-time {
    width: 100px;
    vertical-align: top;
    padding-top: 20px;
} */

ul>li {
    margin-top: 5px;
    margin-bottom: 5px;
}
li>div {
    font-size: 5em;
    line-height: .4em;
    text-align: right;
    margin-right: 20px;
    margin-top: -25px;
    color: rgb(18, 0, 83);
}
  
div>span {
    margin-left: -20px;
    color: lightskyblue;
}

.foot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(171, 238, 238);
}
.foot__half {
    height: 100%;
    margin-top: 20px;
    display: flex;
}
.foot__left {
    margin-left: 20px;
}
.foot__right {
    margin-right: 20px;
}
.foot__half>h5 {
    margin: 0;
    padding-left: 20px;
    font-size: inherit;
    font-style: italic;
}

/* .foot_figure {
    margin: 0;
    margin-right: 10%;
} */
.GHimage {
    /* margin-top: -25px;
    margin-right: 50px; */
    height: 70px;
    width: 70px;
}

.RSSimage {
  /* margin-top: -25px; */
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 550px) {
  .foot_figure {
    margin: 0;
    margin-right: 10%;
  }
}

@media screen and (max-width: 400px) {
  .foot {
    flex-direction: column;
  }
  .foot_figure {
    margin-left: 10%;
  }
}